![NYC Skyline](nyc.jpg)

Welcome to New York City, one of the most-visited cities in the world. There are many Airbnb listings in New York City to meet the high demand for temporary lodging for travelers, which can be anywhere between a few nights to many months. In this project, we will take a closer look at the New York Airbnb market by combining data from multiple file types like `.csv`, `.tsv`, and `.xlsx`.

Recall that **CSV**, **TSV**, and **Excel** files are three common formats for storing data. 
Three files containing data on 2019 Airbnb listings are available to you:

**data/airbnb_price.csv**
This is a CSV file containing data on Airbnb listing prices and locations.
- **`listing_id`**: unique identifier of listing
- **`price`**: nightly listing price in USD
- **`nbhood_full`**: name of borough and neighborhood where listing is located

**data/airbnb_room_type.xlsx**
This is an Excel file containing data on Airbnb listing descriptions and room types.
- **`listing_id`**: unique identifier of listing
- **`description`**: listing description
- **`room_type`**: Airbnb has three types of rooms: shared rooms, private rooms, and entire homes/apartments

**data/airbnb_last_review.tsv**
This is a TSV file containing data on Airbnb host names and review dates.
- **`listing_id`**: unique identifier of listing
- **`host_name`**: name of listing host
- **`last_review`**: date when the listing was last reviewed

In [53]:
# Import necessary packages
import pandas as pd
import numpy as np

# Begin coding here ...
# Use as many cells as you like

## Getting Started
I first uploaded the three files I will be working with as DataFrames. I wasn't sure how many sheets were in `data/airbnb_room_type.xlsx`, so I checked first before converting it to a DataFrame. 

I edited the 'price' column in `airbnb_price` by removing the ' dollars' string and changing the dtype to 'float' to make that column easier to work with in my analysis. 

I then checked all the unique entries in the 'room_type' column of `airbnb_room_type` to determine the number of different room types. Upon checking, I found there were various types of capitalization for the same room types, causing them to appear as different room types. To consolidate, I converted all entries to title case. leaving me with three unique room types. 

Lastly, I converted the 'last_review' column of `last_review` to a datetime object to make it easier to work with in my analysis. I also checked to make sure `pd.to_datetime` was able to convert all the dates.

In [54]:
airbnb_price = pd.read_csv('data/airbnb_price.csv')
airbnb_price.head()

   listing_id        price                nbhood_full
0        2595  225 dollars         Manhattan, Midtown
1        3831   89 dollars     Brooklyn, Clinton Hill
2        5099  200 dollars     Manhattan, Murray Hill
3        5178   79 dollars  Manhattan, Hell's Kitchen
4        5238  150 dollars       Manhattan, Chinatown

In [55]:
airbnb_price['price'] = airbnb_price['price'].str.strip(' dollars')
airbnb_price['price'] = airbnb_price['price'].astype('float')
airbnb_price.head()

   listing_id  price                nbhood_full
0        2595  225.0         Manhattan, Midtown
1        3831   89.0     Brooklyn, Clinton Hill
2        5099  200.0     Manhattan, Murray Hill
3        5178   79.0  Manhattan, Hell's Kitchen
4        5238  150.0       Manhattan, Chinatown

In [56]:
airbnb_room_type_excel = pd.ExcelFile('data/airbnb_room_type.xlsx')
print(airbnb_room_type_excel.sheet_names)
airbnb_room_type = airbnb_room_type_excel.parse('airbnb_room_type')
airbnb_room_type.head()

['airbnb_room_type']

   listing_id                                description        room_type
0        2595                      Skylit Midtown Castle  Entire home/apt
1        3831            Cozy Entire Floor of Brownstone  Entire home/apt
2        5099  Large Cozy 1 BR Apartment In Midtown East  Entire home/apt
3        5178            Large Furnished Room Near B'way     private room
4        5238         Cute & Cozy Lower East Side 1 bdrm  Entire home/apt

In [57]:
print(airbnb_room_type['room_type'].unique())
airbnb_room_type['room_type'] = airbnb_room_type['room_type'].str.title()
print(airbnb_room_type['room_type'].unique())

['Entire home/apt' 'private room' 'Private room' 'entire home/apt'
 'PRIVATE ROOM' 'shared room' 'ENTIRE HOME/APT' 'Shared room'
 'SHARED ROOM']
['Entire Home/Apt' 'Private Room' 'Shared Room']

In [58]:
airbnb_last_review = pd.read_csv('data/airbnb_last_review.tsv', sep = '\t')
airbnb_last_review.head()

   listing_id    host_name   last_review
0        2595     Jennifer   May 21 2019
1        3831  LisaRoxanne  July 05 2019
2        5099        Chris  June 22 2019
3        5178     Shunichi  June 24 2019
4        5238          Ben  June 09 2019

In [59]:
airbnb_last_review['last_review'] = pd.to_datetime(airbnb_last_review['last_review'], errors='coerce')
print(airbnb_last_review['last_review'])
print(airbnb_last_review['last_review'].dtype)
print(airbnb_last_review['last_review'].isna().sum())

0       2019-05-21
1       2019-07-05
2       2019-06-22
3       2019-06-24
4       2019-06-09
           ...
25204   2019-07-07
25205   2019-07-07
25206   2019-07-07
25207   2019-07-07
25208   2019-07-08
Name: last_review, Length: 25209, dtype: datetime64[ns]
datetime64[ns]
0

## Question 1: What are the dates of the earliest and most recent reviews? Store these values as two separate variables with your preferred names.
To find the earliest and most recent reviews, I simply found the min and max values in the 'last_review' column of `airbnb_last_review`. The earliest review appears to be from January 1, 2019, and the most recent review is from July 9, 2019.

In [60]:
earliest_review = airbnb_last_review['last_review'].min()
print(earliest_review)
most_recent_review = airbnb_last_review['last_review'].max()
print(most_recent_review)

2019-01-01 00:00:00
2019-07-09 00:00:00

## Question 2: How many of the listings are private rooms? Save this into any variable.
It looks like 11,356 of the listings are for private rooms.

In [61]:
num_private_rooms = airbnb_room_type['room_type'].value_counts()['Private Room']
print(num_private_rooms)

11356

## Question 3: What is the average listing price? Round to the nearest two decimal places and save into a variable.
Average price per night is $141.78 USD.

In [62]:
avg_price = round(airbnb_price['price'].mean(), 2)
print(avg_price)

141.78

## Combine the new variables into one DataFrame called review_dates with four columns in the following order: first_reviewed, last_reviewed, nb_private_rooms, and avg_price. The DataFrame should only contain one row of values.
I first created a dictionary with my desired column name as the key and its variable as the value, then converted that to a DataFrame.

In [63]:
dict_of_values = {'first_reviewed': [earliest_review], 'last_reviewed': [most_recent_review],\
                  'nb_private_rooms': [num_private_rooms], 'avg_price': [avg_price]}
review_dates = pd.DataFrame(dict_of_values)
print(review_dates)

  first_reviewed last_reviewed  nb_private_rooms  avg_price
0     2019-01-01    2019-07-09             11356     141.78